extends layout

block content
  div(class='row title')
    div(class='col-1')
      h3='Política'
    div(class='col-11')
    div(class='col-3')
      div(class='card')
        a(href='details.html')
          img(class='card-img-top' src='bb.jpg' alt='Capa do livro')
        div(class='card-body')
          div(class='card-body')
            h5(class='card-title')='Educada'
            p(class='card-text')='A menina da montanha'
          ul(class='list-group list-group-flush')
            li(class='list-group-item')='Tara Westover'
            li(class='list-group-item')='R$50,00'
          div(class='horizontalCenter')
            button(type='button' class='btn btn-success')
              img(class='img-fluid' src='cart.webp')
              span=' Comprar'
  div(class='row title')
    div(class='col-1')
      h3='Psicologia'
    div(class='col-11')
    div(class='col-3')
      div(class='card')
        a(href='details.html')
          img(class='card-img-top' src='book.png' alt='Capa do livro')
        div(class='card-body')
          div(class='card-body')
            h5(class='card-title')='Abstract Mindedness'
            p(class='card-text')='Summary'
          ul(class='list-group list-group-flush')
            li(class='list-group-item')='Doug Chinnery'
            li(class='list-group-item')='R$46,90'
          div(class='horizontalCenter')
            button(type='button' class='btn btn-success')
              img(class='img-fluid' src='cart.webp')
              span=' Comprar'