extends layout

block content
  section(class="results")
    div(class="container-fluid")
      div(class="row title")
        div(class="col-11")
          h3='Resultado da Busca'
        div(class="col-1")
      div(class="row")
        each produto in produtos
          div(class="col-3 organize")
            div(class="card")
              a(href="/details")
                img(class="card-img-top" src="images/"+produto.cd_produto+".webp")
              div(class="card-body")
                div(class="card-body")
                  h5(class="card-title")=produto.nm_produto
                  p(class="card-text")=produto.ds_produto
                ul(class="list-group list-group-flush")
                  li(class="list-group-item")='R$'+produto.vl_produto
                div(class="horizontalCenter")
                  button(class="btn btn-success")
                    img(class="img-fluid" src="images/cart.webp")
                    span=' Comprar'
        else
          span(class=verticalCenter)='Nenhum produto encontrado'